<style>

#fakeElementToFixCssBug { }

body {
  overflow: hidden;
  margin: 0;
  color: #202124;
  background: #000;
}

a {
  color: #000;
  text-decoration: none;
}

/*
input[type=radio] {
  border: 2px solid white;
  box-shadow: 0 0 0 1px #000;
  appearance: none;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  background-color: #fff;
  transition: all .2s ease-in-out;
}

input[type=radio]:checked {
  background-color: #000;
}
*/

#head {
  border: 8px solid #fff;
}

.table {
  display: table;
  width: calc(100% - 16px);
  background: #fff;
}

.row {
  display: table-row;
}

.cell {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.title {
  font-weight: 700;
  text-align: left;
}

.grid {
  text-align: center;
}

.menu {
  text-align: right;
}

.tv {
  background: black;
}

.required {
  color: #f00;
  display: none;
}

.grid label:first-of-type, .menu label:first-of-type {
}

.grid label:not(:first-of-type), .menu label:not(:first-of-type) {
  border: 1px solid transparent;
  border-radius: 10px;
}

.grid label:not(:first-of-type):hover, .menu label:not(:first-of-type):hover {
  background: #e2e2e2;
}

@media (max-width: 480px) {
  .tablet, .desktop {
    display: none;
  }
}

@media (max-width: 1024px) {
  .desktop {
    display: none;
  }
}

</style>
