<style>

body {
  margin: 0;
  padding: 0;
  background: white;
}

.table {
  display: table;
  width: 100%;
}

.row {
  display: table-row;
}

.cell {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.title {
  /*
  font-size: 1.25em;
  */
  font-weight: 700;
  text-align: left;
}

.menu {
  width: 75%;
  text-align: right;
}

.tv {
  background: black;
}

</style>
