<style>

body {
  margin: 0;
  padding: 0;
  background: white;
}

.table {
  display: table;
  width: 100%;
}

.row {
  display: table-row;
}

.cell {
  display: table-cell;
  max-width: calc(100% / 3);
  vertical-align: middle;
  text-align: center;
}

.title {
  font-weight: 700;
  text-align: left;
}

.layout {
  text-align: center;
}

.menu {
  text-align: right;
}

.tv {
  background: black;
}

</style>
