<style>

#fakeElementToFixCssBug { }

body {
  /*
  */
  overflow: hidden;
  margin: 0;
  color: #202124;
  background: #000;
  font-size: 15px;
}

a {
  color: #000;
  text-decoration: none;
}

input[type=radio] {
  margin: 1px;
}

input[type=radio]:checked {
  background: #e2e2e2;
}

/*
input[type=radio] {
  border: 2px solid #fff;
  box-shadow: 0 0 0 1px #000;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  background-color: #fff;
  transition: all .2s ease-in-out;
}

input[type=radio]:checked {
  background-color: #000;
}
*/

#head {
  border: 8px solid transparent;
  background: #fff;
}

#body {
  border: 8px solid transparent;
}

.table {
  display: table;
  width: calc(100% - 16px);
}

.row {
  display: table-row;
}

.cell {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.title {
  font-weight: 700;
  text-align: left;
}

.grid {
  text-align: center;
}

.menu {
  text-align: right;
}

.tv iframe {
  border: 1px solid transparent;
  transition: all .2s ease-in-out;
}

.tv iframe:hover {
  border: 1px solid #0f0;
}

.grid label:first-of-type, .menu label:first-of-type {
  border: 1px solid #e2e2e2;
  border-radius: 10px;
  padding: 1px;
}

.grid label:not(:first-of-type), .menu label:not(:first-of-type) {
  border: 1px solid transparent;
  border-radius: 10px;
}

.grid label:not(:first-of-type):hover, .menu label:not(:first-of-type):hover {
  background: #e2e2e2;
}

@media (max-width: 480px) {
  input[value="World"] + span::before {
    content: "🗺️";
  }
  
  input[value="Taiwan"] + span::before {
    content: "🇹🇼";
  }
  
  input[value="Ukraine"] + span::before {
    content: "🇺🇦";
  }

  input[value="World"] ~ span:nth-of-type(2),
  input[value="Taiwan"] ~ span:nth-of-type(2),
  input[value="Ukraine"] ~ span:nth-of-type(2) {
    display: none;
  }
  
  input[type=radio] {
    /*
    appearance: none;
    */
  }

  .tablet, .desktop {
    display: none;
  }
}

@media (max-width: 1024px) {
  .desktop {
    display: none;
  }
}

</style>
