<style>

body {
  background: black;
}

.table {
  display: table;
  width: 100%;
}

.title {
  font-size: 1.25em;
}

.row {
  display: table-row;
}

.cell {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.cell.left {
  text-align: left;
}

.cell.right {
  width: 75%;
  text-align: right;
}

</style>
