:root {
  --font-size: 1em;
  --border-width: .5em;
  --title-color: #ff8a00;
  --bright-color: #fff;
  --inter-color: #e2e2e2;
  --dark-color: #000;
  --darkalpha-color: rgba(0, 0, 0, 50%);
  --chatroom-width: 300px;
}

@font-face {
  font-family: hunterxhunter;
  font-display: swap;
  src:
    local('hunterxhunter Regular'),
    local('hunterxhunter'),
    url(font/hunterxhunter-regular.woff) format('woff');
}

body {
  display: flex;
  overflow: hidden;
  margin: 0;
  font-size: var(--font-size);
  color: var(--bright-color);
  background: var(--dark-color);
}

select {
  border: 0;
}

#tvWall {
  width: 100vw;
  height: 100vh;
}

#tvWall.chatRoomed {
  width: calc(100vw - var(--chatroom-width));
}

#chatRoom {
  width: var(--chatroom-width);
}

a {
  color: var(--dark-color);
  text-decoration: none;
}

input[type=radio] {
  margin: 0 .125em;
  width: .6em;
}

#head {
  color: var(--dark-color);
  background: var(--bright-color);
}

#head.min {
  position: absolute;
  bottom: .25em;
  left: .25em;
  width: auto;
  border-radius: 1.25em;
}

#head.min #moreInfo,
#head.min .lang {
  display: none;
}

#body {
  color: var(--bright-color);
  background: var(--dark-color);
}

#tvInfo {
  padding-left: .25em;
}

.grad label {
  background: var(--dark-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: cycle 30s infinite;
}

@-webkit-keyframes cycle {
  100% {
    background: linear-gradient(90deg, var(--title-color), var(--dark-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.grad label:hover {
    background: var(--dark-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: hover 3s;
  }
  
@-webkit-keyframes hover {
  100% {
    background: linear-gradient(90deg, var(--title-color), var(--dark-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.table {
  display: table;
  border: var(--border-width) solid transparent;
  width: calc(100% - var(--border-width) * 2);
}

.row {
  display: table-row;
}

.show {
  display: unset !important;
}

.hide {
  display: none;
}

.cell {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.cell:last-of-type {
  text-align: right;
}

.title {
  font-weight: 700;
  text-align: left;
  width: 0;
  white-space: nowrap;
}

.grid {
  text-align: right;
}

.more {
  text-align: left;
}

option[value='hh'] {
  font-family: hunterxhunter;
}

.tvNumber {
  display: none;
  position: absolute;
  cursor: pointer;
  margin: .125em;
  box-shadow: 0 0 0 1px var(--darkalpha-color);
  border-radius: .6em;
  padding: 0 .25em;
  background: var(--bright-color);
  font-size: .8em;
  width: .8em;
  text-align: center;
  color: var(--dark-color);
}

.tv:hover .tvNumber {
  display: block;
}

.tv:hover .tvNumber:hover {
  color: var(--bright-color);
  background: var(--title-color);
}

.tv:hover .tvNumber:active {
  color: var(--dark-color);
  background: var(--bright-color);
}

.tv iframe {
  border: 0 solid transparent;
  transition: all .05s ease-in-out;
}

.ctrm label:first-of-type,
.menu label:first-of-type,
.grid label:first-of-type,
.lang label:first-of-type,
.thtr label:first-of-type {
  margin: 0 .25em;
  box-shadow: 0 0 0 1px var(--darkalpha-color);
  border-radius: .5em;
  padding: 0 .25em;
  background: var(--inter-color);
  font-size: .8em;
}

/* Ctrm */

.ctrm label:first-of-type.en::before {
  content: 'chatroom';
}

.ctrm label:first-of-type.zh::before {
  content: '聊天室';
}

.ctrm label:first-of-type.tg::before {
  content: '開講間';
}

.ctrm label:first-of-type.jp::before {
  content: '雑談室';
}

.ctrm label:first-of-type.hh::before {
  content: 'chatroom';
  font-family: hunterxhunter;
}

  /* On */

  .ctrm label[name="On"].en::after {
    content: 'On';
  }

  .ctrm label[name="On"].zh::after {
    content: '加入';
  }

  .ctrm label[name="On"].tg::after {
    content: '加入';
  }

  .ctrm label[name="On"].jp::after {
    content: 'オン';
  }

  .ctrm label[name="On"].hh::after {
    content: 'On';
    font-family: hunterxhunter;
  }

  /* Off */

  .ctrm label[name="Off"].en::after {
    content: 'Off';
  }

  .ctrm label[name="Off"].zh::after {
    content: '離開';
  }

  .ctrm label[name="Off"].tg::after {
    content: '離開';
  }

  .ctrm label[name="Off"].jp::after {
    content: 'オフ';
  }

  .ctrm label[name="Off"].hh::after {
    content: 'Off';
    font-family: hunterxhunter;
  }

/* Menu */

.menu label:first-of-type.en::before {
  content: 'menu';
}

.menu label:first-of-type.zh::before {
  content: '選單';
}

.menu label:first-of-type.tg::before {
  content: '選單';
}

.menu label:first-of-type.jp::before {
  content: 'メニュー';
}

.menu label:first-of-type.hh::before {
  content: 'menu';
  font-family: hunterxhunter;
}

/* deprecated cause can't set :checked::after
.menu label::after {
  margin: 0 .25em;
  box-shadow: 0 0 0 1px var(--darkalpha-color);
  border-radius: .5em;
  padding: 0 .25em;
  background: var(--inter-color);
  font-size: .8em;
}
*/

  /* World */

  .menu label[name="World"].en::after {
    content: 'World';
  }

  .menu label[name="World"].zh::after {
    content: '世界';
  }

  .menu label[name="World"].tg::after {
    content: '世界';
  }

  .menu label[name="World"].jp::after {
    content: '世界';
  }

  .menu label[name="World"].hh::after {
    content: 'World';
    font-family: hunterxhunter;
  }

  /* Taiwan */

  .menu label[name="Taiwan"].en::after {
    content: 'Taiwan';
  }

  .menu label[name="Taiwan"].zh::after {
    content: '臺灣';
  }

  .menu label[name="Taiwan"].tg::after {
    content: '臺灣';
  }

  .menu label[name="Taiwan"].jp::after {
    content: '台湾';
  }

  .menu label[name="Taiwan"].hh::after {
    content: 'Taiwan';
    font-family: hunterxhunter;
  }

/* Grid */

.grid label:first-of-type.en::before {
  content: 'grid';
}

.grid label:first-of-type.zh::before {
  content: '網格';
}

.grid label:first-of-type.tg::before {
  content: '格仔';
}

.grid label:first-of-type.jp::before {
  content: 'グリッド';
}

.grid label:first-of-type.hh::before {
  content: 'grid';
  font-family: hunterxhunter;
}

  /* all */

  .grid label[name="all"].en::after {
    content: 'all';
  }

  .grid label[name="all"].zh::after {
    content: '全部';
  }

  .grid label[name="all"].tg::after {
    content: '全部';
  }

  .grid label[name="all"].jp::after {
    content: '全部';
  }

  .grid label[name="all"].hh::after {
    content: 'all';
    font-family: hunterxhunter;
  }

/* More */

  /* more */

  .more label[name="more"].en::after {
    content: 'more';
  }

  .more label[name="more"].zh::after {
    content: '較多';
  }

  .more label[name="more"].tg::after {
    content: '較濟';
  }

  .more label[name="more"].jp::after {
    content: 'モア';
  }

  .more label[name="more"].hh::after {
    content: 'more';
    font-family: hunterxhunter;
  }

  /* less */

  .more label[name="less"].en::after {
    content: 'less';
  }

  .more label[name="less"].zh::after {
    content: '較少';
  }

  .more label[name="less"].tg::after {
    content: '較少';
  }

  .more label[name="less"].jp::after {
    content: 'レス';
  }

  .more label[name="less"].hh::after {
    content: 'less';
    font-family: hunterxhunter;
  }

  /* Lang */

.lang label:first-of-type.en::before {
  content: 'language';
}

.lang label:first-of-type.zh::before {
  content: '語言';
}

.lang label:first-of-type.tg::before {
  content: '語言';
}

.lang label:first-of-type.jp::before {
  content: 'ランゲージ';
}

.lang label:first-of-type.hh::before {
  content: 'language';
  font-family: hunterxhunter;
}

/* Thtr */

.thtr label:first-of-type.en::before {
  content: 'theater';
}

.thtr label:first-of-type.zh::before {
  content: '劇院';
}

.thtr label:first-of-type.tg::before {
  content: '劇院';
}

.thtr label:first-of-type.jp::before {
  content: 'シアター';
}

.thtr label:first-of-type.hh::before {
  content: 'theater';
  font-family: hunterxhunter;
}

.ctrm label:not(:first-of-type),
.menu label:not(:first-of-type),
.grid label:not(:first-of-type),
.lang select,
.thtr select {
  border-radius: .5em;
}

.ctrm label:not(:first-of-type):hover,
.menu label:not(:first-of-type):hover,
.grid label:not(:first-of-type):hover,
.lang select:hover,
.thtr select:hover {
  background: var(--inter-color);
}

@media (max-width: 389px) {
  .cell.more {
    display: none;
  }
}

@media (max-width: 575px) {
  .tablet {
    display: none;
  }
}

@media (max-width: 767px) {
  .thtr,
  .laptop {
    display: none;
  }
}

@media (max-width: 991px) {
  .desktop {
    display: none;
  }
}

@media (max-width: 1279px) {
  .cell:not(.title) label:first-of-type,
  .lang select,
  .ctrm,
  .hd {
    display: none;
  }
}

@media (max-width: 1919px) {
  .fhd {
    display: none;
  }
}

@media (max-width: 2047px) {
  .twok {
    display: none;
  }
}

@media (max-width: 3839px) {
  .fourk {
    display: none;
  }
}

@media (min-width: 3840px) {
  .cell.more {
    display: none;
  }
}

@media (prefers-color-scheme: dark) {
  #head,
  .tvNumber {
    filter: invert(100%);
  }
}