:root {
  --bright-color: #fff;
  --inter-color: #e2e2e2;
  --dark-color: #000;
  --darkalpha-color: rgba(0, 0, 0, 50%);
}

@font-face {
    font-family: hunterxhunter;
    src: url(hunterxhunter.woff);
}

/* * {
    font-family: hunterxhunter;
} */

body {
  overflow: hidden;
  margin: 0;
  font-size: 15px;
  color: var(--bright-color);
  background: var(--dark-color);
}

a {
  color: var(--dark-color);
  text-decoration: none;
}

input[type=radio] {
  margin: 1.5px;
  width: 10px;
  height: 10px;
}

input[type=radio]:checked {
  background: var(--inter-color);
}

#head {
  border: 8px solid transparent;
  color: var(--dark-color);
  background: var(--bright-color);
}

#body {
  border: 8px solid transparent;
}

.table {
  display: table;
  width: calc(100% - 16px);
}

.row {
  display: table-row;
}

.cell {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  white-space: nowrap;
}

.title {
  font-weight: 700;
  text-align: left;
}

.thea {
  /* display: none; */
}

.hide {
  display: none;
}

.lang {
  text-align: right;
}

option[value='hh'] { 
  /* font-family: hunterxhunter; */
}

.tv iframe {
  border: 0px solid transparent;
  transition: all .1s ease-in-out;
}

.grid label:first-of-type,
.menu label:first-of-type,
.thea label:first-of-type,
.lang label:first-of-type {
    margin: 0 4.5px;
    box-shadow: 0px 0px 0px 1px var(--darkalpha-color);
    border-radius: 7px;
    padding: 0px 4.5px;
    background: var(--inter-color);
    font-size: 12px;
}

.grid label:first-of-type.en::before {  content: 'grid'; }
.grid label:first-of-type.zh::before {  content: '網格'; }
.grid label:first-of-type.jp::before {  content: 'グリッド'; }
.grid label:first-of-type.hh::before {  content: 'grid'; font-family: hunterxhunter; }

.menu label:first-of-type.en::before {  content: 'menu'; }
.menu label:first-of-type.zh::before {  content: '選單'; }
.menu label:first-of-type.jp::before {  content: 'メニュー'; }
.menu label:first-of-type.hh::before {  content: 'menu'; font-family: hunterxhunter; }

.thea label:first-of-type.en::before {  content: 'theater'; }
.thea label:first-of-type.zh::before {  content: '劇院'; }
.thea label:first-of-type.jp::before {  content: 'シアター'; }
.thea label:first-of-type.hh::before {  content: 'theater'; font-family: hunterxhunter; }

.lang label:first-of-type.en::before {  content: 'language'; }
.lang label:first-of-type.zh::before {  content: '語言'; }
.lang label:first-of-type.jp::before {  content: 'ランゲージ'; }
.lang label:first-of-type.hh::before {  content: 'language'; font-family: hunterxhunter; }

.grid label:not(:first-of-type),
.menu label:not(:first-of-type) {
  border: 1px solid transparent;
  border-radius: 9px;
}

.grid label:not(:first-of-type):hover,
.menu label:not(:first-of-type):hover {
  background: var(--inter-color);
}

@media (max-width: 480px) {
  .tablet,
  .desktop {
    display: none;
  }

  .cell {
    width: calc(100% / 3);
  }
  
  .menu {
    text-align: right;
  }

  .lang {
    display: none;
  }
}

@media (max-width: 1024px) {
  .desktop {
    display: none;
  }
}

/* https://www.lambdatest.com/blog/how-to-use-css-breakpoints-for-responsive-design/

320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV */